<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
                destroy-method="close">
        <beans:property name="driverClassName" value="org.postgresql.Driver"/>
        <beans:property name="url"
                        value="jdbc:postgresql://localhost:5432/opencrm"/>
        <beans:property name="username" value="opencrm"/>
        <beans:property name="password" value=""/>
    </beans:bean>

    <!-- Hibernate 4 SessionFactory Bean definition -->
    <beans:bean id="hibernate4AnnotatedSessionFactory"
                class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource"/>
        <beans:property name="annotatedClasses">
            <beans:list>
                <beans:value>com.opencrm.spring.partners.model.PartnersEntity</beans:value>
                <beans:value>com.opencrm.spring.partners.model.AddressesEntity</beans:value>
                <beans:value>com.opencrm.spring.partners.model.PersonsEntity</beans:value>
                <beans:value>com.opencrm.spring.users.model.User</beans:value>
                <beans:value>com.opencrm.spring.users.model.UserRole</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="hibernateProperties">
            <beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</beans:prop>
                <beans:prop key="hibernate.connection.useUnicode">true</beans:prop>
                <beans:prop key="hibernate.connection.characterEncoding">UTF-8</beans:prop>
                <beans:prop key="hibernate.connection.charSet">UTF-8</beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
                <beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>
            </beans:props>
        </beans:property>

    </beans:bean>

    <beans:bean id="userDao" class="com.opencrm.spring.users.dao.UserDAOImpl">
        <beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </beans:bean>

    <beans:bean id="myUserDetailsService"
                class="com.opencrm.spring.users.services.MyUserDetailService">
        <beans:property name="userDao" ref="userDao" />
    </beans:bean>



    <beans:bean id="personsDAO" class="com.opencrm.spring.partners.dao.PersonsDAOImpl">
        <beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </beans:bean>
    <beans:bean id="personsService" class="com.opencrm.spring.partners.services.PersonsServiceImpl">
        <beans:property name="personsDAO" ref="personsDAO"></beans:property>
    </beans:bean>

    <beans:bean id="partnersDAO" class="com.opencrm.spring.partners.dao.PartnersDAOImpl">
        <beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </beans:bean>
    <beans:bean id="partnersService" class="com.opencrm.spring.partners.services.PartnersServiceImpl">
        <beans:property name="partnersDAO" ref="partnersDAO"></beans:property>
    </beans:bean>

    <beans:bean id="adressesDAO" class="com.opencrm.spring.partners.dao.AddressesDAOImpl">
        <beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </beans:bean>
    <beans:bean id="adressesService" class="com.opencrm.spring.partners.services.AddressesServiceImpl">
        <beans:property name="addressesDAO" ref="adressesDAO"></beans:property>
    </beans:bean>


    <tx:annotation-driven transaction-manager="transactionManager"/>

    <beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </beans:bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true" />
            <tx:method name="find*" read-only="true" />
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="userServicePointCut"
                      expression="execution(* com.opencrm.spring.users.services.*Service.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="userServicePointCut" />
    </aop:config>

</beans:beans>